.auth-section{
    min-height: 100vh;
    /* margin:0% auto; */
    background-color: #f1f2f3;
    display: flex;

    justify-content: center;
    align-items: center;
    

}
.auth-section-dark{
    min-height: 100vh;
    /* margin:0% auto; */
    background-color: rgb(37, 38, 39);
    display: flex;
color:white;
    justify-content: center;
    align-items: center;

}





p{
    margin: 10px;
}

.auth-container-1{
    padding:15px;
    margin-right:30px;
/* background-color: green; */
text-align: left;
}

.login-logo{
    padding:20px 30px;
}

.auth-container-2{
    /* min-width:20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
width:277px;

}

.auth-container-2 form{
    width:40%;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    justify-content:center;

    box-shadow:0 10px 25px rgb(0 0 0/ 5%),
    0 20px 48px rgb(0 0 0 /5%),
    0 1px 4px rgb(0 0 0 /10%);

}

.auth-container-2 form{
display: flex;
flex-direction: column;
/* justify-content: flex-start;
align-items: center; */
/* background-color: yellow; */
width:104%;
text-align: left;
margin-top: 25px;
}



.auth-container-2 form label input{
    padding:6px;
    width:90%;
    border:solid 1px #0000003e;
    font-size:13px;
/* background-color: pink; */
}

.auth-container-2 form label:nth-child(1) h4, 
.auth-container-2 form label:nth-child(2) h4, 
.auth-container-2 form label:nth-child(3) h4{
    margin-bottom:5px;
    margin-top:10px;
    font-size: 13px;
}

.auth-container-2 form label:nth-child(4){
    display: flex;

}

.auth-container-2 form label:nth-child(4) input{
    width:14%;
    margin:0px 0px;
    background-color: yellow;

}

.auth-btn{
    margin-top:10px;
    padding:10px 5px;
    background-color:#009dff ;
    border:solid 1px #009dff;
    color:white;
    border-radius: 5px;
    cursor:pointer;
    transition:0.2s;
    font-size:13px;
    font-weight: 500;
}

.auth-btn:hover{
    background-color: #018ce3;
}

.handle-switch-btn{
    background-color:transparent;
    color:#007ac6;
    border:none;
    font-size:13px;
    cursor:pointer;
}

p{
margin:3%;
}

@media (max-width:800px){
    
    .auth-section{
flex-direction: column;
min-height: 107vh;
margin-top:67px;
    }

    .auth-section-dark{
        flex-direction: column;
        min-height: 107vh;
            }
    .cont-1{
        order: 2;
        width:345px;
    }
    .auth-container-2{
        order:1;
    }
    .auth-container-1{
        text-align: center;
        margin:0px;
    }




    .auth-section-dark{
        flex-direction: column;
        min-height: 107vh;
        margin-top:67px;
            }
            .cont-1-dark{
                order: 2;
                width:345px;
            }
            .auth-container-2-dark{
                order:1;
            }
            .auth-container-1-dark{
                text-align: center;
                margin:0px;
            }


}

.auth-section-dark form{
    background-color: rgb(46 49 51);
    color:white;
}